<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<body>
    <footer>

        <div class="logos-u">
            <div class="logos">
                <div class="logo-javeriana">
                    <img src="assets/simbolo-jave.png" alt=" simbolo de la Universidad Javeriana" class="simbolo-j">
                </div>

                <div class="logo-prosofi">
                    <img src="assets/simbolo-prosofi.png" alt=" simbolo de la Universidad Javeriana" class="simbolo-p">
                </div>
            </div>
            <div class="redes">
                <div class="redes-jave ">
                    <div class="circle"><i class="bi bi-facebook"></i></div>
                    <div class="circle"><i class="bi bi-twitter-x"></i></div>
                    <div class="circle"><i class="bi bi-instagram"></i></div>
                    <div class="circle"> <i class="bi bi-youtube"></i></div>
                    <div class="circle"><i class="bi bi-spotify"></i></div>

                </div>

                <div class="redes-prosofi">
                    <div class="circle"><i class="bi bi-facebook"></i></div>
                    <div class="circle"><i class="bi bi-twitter-x"></i></div>
                    <div class="circle"><i class="bi bi-instagram"></i></div>
                    <div class="circle"> <i class="bi bi-youtube"></i></div>
                    <div class="circle"><i class="bi bi-spotify"></i></div>


                </div>
            </div>



        </div>

        <div class="informacion-legal">
            <p>
                Sujeta a inspección y vigilancia por parte del Ministerio de Educación Nacional (artículo 39 del decreto
                1295 de 2010)
            </p>

        </div>
        <img src="assets/pie-pagina.png" alt="pie de pagina">
        <button class="boton-redondo-separador" onclick="window.location.href='#encabezado'">&#62;</button>

    </footer>
</body>

</html>