<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Entidad</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap">

</head>
<body>
    <div class="container">
        <div class="imagen-u">
            <img src="assets/logo-javeriana.png" class="logo-img" alt="Logo Javeriana">
            <img src="assets/nueva-entidad.png" alt="Imagen de la Universidad" class="image-u">
            <div class="texto-container">
                <p class="texto">Únete a nosotros en nuestra misión de brindar esperanza, apoyo y oportunidades a las comunidades necesitadas. ¡Juntos, podemos marcar la diferencia y construir un futuro más brillante para todos!</p>
            </div>
            <div class="marca-container">
                <p class="texto">Javeriana Impacta</p>
            </div>
        </div>
        <div class="info">
            <h1>Nueva Entidad</h1>
            <form>
                <input type="text" placeholder="Nombre Entidad" required>
                <input type="text" placeholder="Nombre completo representante legal" required>
                <input type="text" placeholder="NIT" required>
                <input type="text" placeholder="Código Representante" required>
                <input type="text" placeholder="Razón Social" required>
                <input type="text" placeholder="Duración Comercio" required>
                <input type="text" placeholder="Número Teléfono" required>
                <input type="text" placeholder="Posición objetivo" required>
                <input type="text" placeholder="Código de la sucursal" required>
                <input type="email" placeholder="Correo Representante legal" required>
                <textarea placeholder="Objetivo Entidad" required></textarea>
                <div class="carreras-container">
                    <div>
                        <label>Carreras que necesitan</label>
                        <textarea readonly>Ingeniería de sistemas
Ingeniería civil</textarea>
                    </div>
                    <div>
                        <label>Carreras disponibles</label>
                        <textarea readonly>Ingeniería industrial
Ingeniería electrónica
Enfermería
Psicología
Administración de empresas
Medicina
Odontología
Arquitectura
Lenguas modernas</textarea>
                    </div>
                </div>
                <div class="terms">
                    <input type="checkbox" required>
                    <label>Acepto todos los términos y políticas de privacidad</label>
                </div>
                <button type="submit">Enviar Solicitud</button>
            </form>
        </div>
    </div>
</body>
</html>
