<div class="lienzo">
  <div class="logos-u">
    <div class="logos">
      <div class="logo-javeriana">
        <img src="assets/imagenes/simbolo-jave.png" alt=" simbolo de la Universidad Javeriana" class="simbolo-j">
      </div>
      <div class="logo-prosofi">
        <img src="assets/imagenes/simbolo-prosofi.png" alt=" simbolo de la Universidad Javeriana" class="simbolo-p">
      </div>
    </div>
    <div class="redes">
      <div class="redes-jave ">
        <div class="circle"><i class="bi bi-facebook"></i></div>
        <div class="circle"><i class="bi bi-twitter-x"></i></div>
        <div class="circle"><i class="bi bi-instagram"></i></div>
        <div class="circle"> <i class="bi bi-youtube"></i></div>
        <div class="circle"><i class="bi bi-spotify"></i></div>
      </div>
      <div class="redes-prosofi">
        <div class="circle"><i class="bi bi-facebook"></i></div>
        <div class="circle"><i class="bi bi-twitter-x"></i></div>
        <div class="circle"><i class="bi bi-instagram"></i></div>
        <div class="circle"> <i class="bi bi-youtube"></i></div>
        <div class="circle"><i class="bi bi-spotify"></i></div>
      </div>
    </div>
  </div>
  <div class="informacion-legal">
    <p>
      Sujeta a inspección y vigilancia por parte del Ministerio de Educación Nacional (artículo 39 del decreto
      1295 de 2010)
    </p>
  </div>
  <img src="assets/imagenes/pie-pagina.png" alt="pie de pagina">
  <button class="boton-redondo-separador" onclick="window.location.href='#encabezado'">&#62;</button>
</div>
