<app-sidebar></app-sidebar>
<div class="container">
  <div class="contenido" [ngClass]="{ 'contenido-extendido': !visible }">
    <h1>Proyectos</h1>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Codigo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Población objetivo</th>
        <th scope="col">Entidad</th>
        <th scope="col">Lider</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Tematica</th>
        <th scope="col">Aprobado</th>
        <th scope="col">Activo</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
        @for (proyecto of proyectos; track proyecto.id){
          <tr>
            <th scope="row">{{proyecto.id}}</th>
            <td>{{proyecto.codigo}}</td>
            <td>{{proyecto.nombre}}</td>
            <td>{{proyecto.descripcion}}</td>
            <td>{{proyecto.objetivo}}</td>
            <td>{{obtenerEntidad(proyecto.entidad)}}</td>
            <td>{{obtenerLider(proyecto.lider)}}</td>
            <td>{{proyecto.ubicacion}}</td>
            <td>{{proyecto.tematica}}</td>
            <td>{{proyecto.aprobacion}}</td>
            <td>{{proyecto.activo}}</td>
            <td><button class="btn btn-warning">Detalles</button></td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>


