<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/vendors/jquery.min.js"></script>
    <script src="https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/owl.carousel.js"></script>

</head>
<body>
    <div class="slide-container">
        <div class="slide-content owl-carousel owl-theme">
            <div class="card-wrapper">
                <div class="card">
                    <div class="imagen-nosotros">
                        <figure>
                            <img src="assets/persona.png" alt="Blanca Oviedo">
                            <div class="capa">
                                <h2>Blanca Oviedo</h2>
                                <h4>Ingenieria de Sistemas</h4>
                                <p>Ingenieros que se encuentran haciendo su trabajo de te en la oficina de planeacción social, los cuales nos gusta terminar el proyecto con todos los juguetes.</p>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
            <!-- Repite el bloque card-wrapper para más elementos en el carrusel -->
        </div>
    </div>
    
</body>
</html>