<div class="container">
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col d-flex justify-content-center text-center">
          <h3>¡Estas a un paso de poder aportar a cientos de proyectos que te necesitan!</h3>
          <div>
            <h4>Quiero registrar</h4>
            <button class="btn btn-warning" routerLink="/registrarEntidad">Entidad</button>
            <button class="btn btn-warning" routerLink="/registrarInterlocutor">Interlocutor</button>
          </div>
        </div>
    </div>
</div>
