<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
   
    <div class="sidebar">
        <ul>
            <li class="logo" >
                <a href="#">
                    <div class="icon-simbolo">
                        <img src="assets/solo-simbolo.png" alt="icono-universidad" class="hola" >
                        <img src="assets/simbolo-jave.png" alt="icono-universidad" class="hola-inactive" >
                    </div>
                </a>
            </li>
            <div class="menulist">
                <li style="--bg: #E3E3E3" class="active">
                    <a href="#">
                        <div class="icon"><img src="assets/entidad.png" alt="icono-universidad"></div>
                        <div class="text">ENTIDADES</div>
                    </a>
                </li>
                <li style="--bg: #E3E3E3">
                    <a href="#">
                        <div class="icon"><img src="assets/proyectos.png" alt="icono-universidad"></div>
                        <div class="text"> PROYECTOS</div>
                    </a>
                </li>
                <li style="--bg: #E3E3E3">
                    <a href="#">
                        <div class="icon"><img src="assets/profesores.png" alt="icono-universidad"></div>
                        <div class="text">PROFESORES</div>
                    </a>
                </li>
                <li style="--bg: #E3E3E3">
                    <a href="#">
                        <div class="icon"><img src="assets/estudiantes.png" alt="icono-universidad"></div>
                        <div class="text">ESTUDIANTES</div>
                    </a>
                </li>
                <li style="--bg: #E3E3E3">
                    <a href="#">
                        <div class="icon"><img src="assets/publicaciones.png" alt="icono-universidad"></div>
                        <div class="text">PUBLICACIONES</div>
                    </a>
                </li>
                <li style="--bg: #E3E3E3">
                    <a href="#">
                        <div class="icon"><img src="assets/metricas.png" alt="icono-universidad"></div>
                        <div class="text">MÉTRICAS</div>
                    </a>
                </li>
                <li style="--bg: #E3E3E3">
                    <a href="#">
                        <div class="icon"><img src="assets/informes.png" alt="icono-universidad"></div>
                        <div class="text">INFORMES</div>
                    </a>
                </li>
                <li style="--bg: #E3E3E3">
                    <a href="#">
                        <div class="icon"><img src="assets/actividades.png" alt="icono-universidad"></div>
                        <div class="text">ACTIVIDADES</div>
                    </a>
                </li>
            </div>

        </ul>
    </div>

</body>

</html>
