<div class="sidebar">
  <app-logo-universidad id="imagen" color="white" routerLink="/summary"></app-logo-universidad>
  <ul id="items" class="nav flex-column nav-tabs">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" routerLink="/summary">INICIO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/entities">ENTIDADES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">PROFESORES</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link">ESTUDIANTES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">PROYECTOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">PUBLICACIONES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" >MÉTRICAS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">INFORMES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">ACTIVIDADES</a>
    </li>
  </ul>
</div>
