<app-sidebar></app-sidebar>
<div class="contenido" [ngClass]="{ 'contenido-extendido': !visible }">
  <div class="container">
    <app-topbar></app-topbar>
    <h1>Estudiantes</h1>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id institucional</th>
        <th scope="col">Cedula</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Correo institucional</th>
        <th scope="col">Sentido de Mi Practica</th>
        <th scope="col">ARL</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
        @for (estudiante of estudiantes; track estudiante.id){
          <tr>
            <th scope="row">{{estudiante.id}}</th>
            <td>{{estudiante.idInstitucional}}</td>
            <td>{{estudiante.cedula}}</td>
            <td>{{obtenerNombres(estudiante.cedula)}}</td>
            <td>{{obtenerApellidos(estudiante.cedula)}}</td>
            <td>{{estudiante.correoInstitucional}}</td>
            <td>{{traduccion(estudiante.sentidoMiPractica)}}</td>
            <td>{{traduccion(estudiante.arl)}}</td>
            <td><button class="btn btn-warning">Detalles</button>
              @if(admin){
                <button class="btn btn-warning">Afiliar</button>
              }
              @if (profesor){
                <button class="btn btn-warning">Seguimiento</button>
                <button class="btn btn-warning">Vincular</button>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
