<div class="container">
    <form formGroup="publicacionForm">
      <label for="imagen">Imagen:</label>
      <input type="text" id="imagen" formControlName="imagen">
  
      <label for="titulo">Título:</label>
      <input type="text" id="titulo" formControlName="titulo">
  
      <label for="subtitulo">Subtítulo:</label>
      <input type="text" id="subtitulo" formControlName="subtitulo">
  
      <label for="descripcion">Descripción:</label>
      <input type="text" id="descripcion" formControlName="descripcion">
  
      <label for="categoria">Categoría:</label>
      <input type="text" id="categoria" formControlName="categoria">
  
      <label for="url">URL:</label>
      <input type="text" id="url" formControlName="url">
  
      <label for="duracion">Duración:</label>
      <input type="number" id="duracion" formControlName="duracion">
  
      <div class="button-group">
        <button type="button" (click)="guardarInformacion()">Guardar</button>
        <button type="button" (click)="volverAPublicaciones()">Volver a Publicaciones</button>
      </div>
    </form>
  </div>
  