<app-sidebar></app-sidebar>
<div class="contenido" [ngClass]="{ 'contenido-extendido': !visible }">
  <div class="container">
    <app-topbar></app-topbar>
    <h1>Métricas</h1>

    <div class="card" style="width: 18rem;">
      <img src="assets/images.jpeg" class="card-img-top" alt="Power BI">
      <div class="card-body">
        <h5 class="card-title">Dashboard de Proyección Social</h5>
        <p class="card-text">
          Este dashboard muestra las métricas recopiladas por la oficina de proyección social para medir cuántos estudiantes están realizando labores sociales y en dónde las están realizando.
        </p>
        <button class="btn btn-primary" (click)="verDashboard()">Ver</button>
      </div>
    </div>
    
  </div>
</div>
